services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: nerakgemini_dev
      MYSQL_USER: phoenix
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: mix phx.server
    environment:
      DATABASE_URL: "mysql://phoenix:password@db/elixir_gemini_dev"
      SECRET_KEY_BASE: "o7jES2y6QaTrDW7HjcqIFbwFzUtjMyA+8arm8VPj3CJqzZu5jnRHRji3kUlqUM9A"
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - deps:/app/deps
      - _build:/app/_build

volumes:
  db_data:
  deps:
  _build:
