services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: phoenix
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nerakgemini_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U phoenix -d nerakgemini_dev"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: mix phx.server
    environment:
      DATABASE_URL: "postgresql://phoenix:password@db/nerakgemini_dev"
      SECRET_KEY_BASE: "o7jES2y6QaTrDW7HjcqIFbwFzUtjMyA+8arm8VPj3CJqzZu5jnRHRji3kUlqUM9A"
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - deps:/app/deps
      - _build:/app/_build

volumes:
  db_data:
  deps:
  _build:
